{% extends "teams/base.html"%}
{% block content %}
{% load crispy_forms_tags %}
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">created by - {{ object.created_by}}</p>
        <div class="article-metadata">
            <p class="content-section">description: {{object.description}} </p>
        </div>
    </div>
    <div class="article-metadata">
        <a class="btn btn-outline-info" href="{% url 'project-update' project.team.id project.id %}">Update Project</a>
        <a class="btn btn-outline-info" href="{% url 'project-delete' project.team.id project.id %}">Delete Project</a>
        <a class="btn btn-outline-info" href="{% url 'task-create' project.team.id project.id  %}">Create Task</a>
    </div>
</article>
<article class="media content-section">
<div class="list-group shadow-sm">
    <h2 class="mb-3 ">Tasks</h2>
    {% for task in tasks %}
        <a href="{% url 'task-detail' project.team.id project.id task.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ task.title }}
        </a>
        
    {% empty %}
        <div class="alert alert-light text-muted mt-3" role="alert">
            No tasks available in this project yet.
        </div>
    {% endfor %}
    
</div>
</article>
{% endblock content %}